{% extends "base.html" %}
{% block title %}<title>Announcements</title>{% endblock %}
{% set active_page = "announcements" %}

{% block content %}
  <!-- container for tablular structure: 1 row -->
  <div class="container">
    <div class="row">

      <!-- column 1 -->
      <div class="col-sm-6">
        <h3>Announcements</h3>

        <p>We will now be offering Powerwashing! If your home needs driveways, sidewalks, steps, or the home powerwashed,
           it can be included in your landscaping package at a great bundle price!</p>
        <p>Landscaping Season is Here! Starting April 1st, you will be able to call our number in order to receive any of our great services.
          First 100 customers will be entitled to a 20% discount for their first service. </p>
        <p>Looking for Work? Apply today for a chance to work great hours for a growing young business!</p>
      </div>
      <div class="col-sm-6">

        <!-- column 2 -->

        <h3>News</h3>
        <p>-Rated #1 Small Landscpaing Business In New Hampshire </p>
        <p>-Served over 500 customers in 2021</p>
        <p>-Ranked In the Top 25 Small Businesses in New England 2021</p>
      </div>
    </div>
  </div>
{% endblock %}