{% extends "base.html" %}
{% block title %}<title>Directory</title>{% endblock %}
{% set active_page = "directory" %}

{% block content %}


  <div class="row">
  
  <!-- column 1 -->
    <div class="col-sm-12">
      <h3>Employee Directory</h3>
      <hr>
      <table class="table .table-dark">
        <thead>
          <tr>
            <th scope="col">EmployeeID</th>
            <th scope="col">Name</th>
            <th scope="col">Job Title</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">01</th>
            <td>Steve Jobs</td>
            <td>Lawn Mower</td>
            <td>sjobs@gmail.com</td>
            <td>555-281-1234</td>
          </tr>
            <th scope="row">02</th>
            <td>Tom Brady</td>
            <td>Shrubs/Greenery</td>
            <td>tommy12@gmail.com</td>
            <td>532-456-1234</td>
          <tr>

            </tr>
            <th scope="row">03</th>
            <td>Bill Michaels</td>
            <td>Power Washer</td>
            <td>bm12@gmail.com</td>
            <td>451-276-1274</td>
            <tr>

            </tr>
            <th scope="row">04</th>
            <td>Kyle O'Neill</td>
            <td>Customer Service Rep.</td>
            <td>kkoneill01@gmail.com</td>
            <td>603-222-1114</td>
            <tr>  
                
            </tr>
            <th scope="row">05</th>
            <td>John Simon</td>
            <td>Basic Landscaping Cleanup</td>
            <td>jsime23@gmail.com</td>
            <td>603-436-8956</td>
            <tr>   

          </tr>
        </tbody>
      </table>

    </div>
  </div>

{% endblock %}