{% extends "base.html" %}
{% block title %}<title>Documents</title>{% endblock %}
{% set active_page = "documents" %}

{% block content %}
  <!-- container for tablular structure: 1 row -->
<div class="container">
  <div class="row">
  
  <!-- column 1 -->
    <div class="col-sm-12">
      <h3>Important Business Documents</h3>
      <table class="table .table-dark">
        <thead>
          <tr>
            <th scope="col">DocID</th>
            <th scope="col">Name of Document</th>
            <th scope="col">Creation Date</th>
            <th scope="col">Update Date</th>
            <th scope="col">Link to Doc</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">01</th>
            <td>Company Meeting Report</td>
            <td>01/03/21</td>
            <td>12/22/21</td>
            <td href="https://docs.google.com/document/d/1dbuLkiS_gqEUo4ZsL3neGBuQDSEYEBebJgIT-SdPxCg/edit?usp=sharing" style="cursor:pointer"></td>
          </tr>
        </tbody>
      </table>
     
    
    </div>
    
  </div>
</div>
{% endblock %}