{% extends "base.html" %}
{% block title %}<title>Documents</title>{% endblock %}
{% set active_page = "documents" %}

{% block content %}
  <!-- container for tablular structure: 1 row -->
<div class="container">
  <div class="row">
  
  <!-- column 1 -->
    <div class="col-sm-12">
      <h3>Important Business Documents</h3>
      <hr>
      <img src="{{url_for('static',filename='document.jpg')}}"class="rounded mx-auto d-block" alt=""
      width="100"
      height="100">
      <table class="table .table-dark">
        <thead>
          <tr>
            <th scope="col">DocID</th>
            <th scope="col">Name of Document</th>
            <th scope="col">Creation Date</th>
            <th scope="col">Update Date</th>
            <th scope="col">Link to Doc</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">01</th>
            <td>Company Meeting Report</td>
            <td>01/03/21</td>
            <td>12/22/21</td>
            <td><a href="https://docs.google.com/document/d/1dbuLkiS_gqEUo4ZsL3neGBuQDSEYEBebJgIT-SdPxCg/edit?usp=sharing">Meeting Log</a></td>
          </tr>

          <tr>
            <th scope="row">02</th>
            <td>Non-Discloure Agreements</td>
            <td>04/12/19</td>
            <td>08/21/21</td>
            <td><a href="https://docs.google.com/document/d/1DhLKsBSpbdJ6LvuiAEvuuPWlVpAZrgvShre-13zcZZY/edit?usp=sharing">Non-Disclosure Agreements</a></td>
          </tr>

          <tr>
            <th scope="row">03</th>
            <td>Company Bylaws</td>
            <td>02/04/19</td>
            <td>02/18/21</td>
            <td><a href="https://docs.google.com/document/d/1w_03UF4SHbVUd_XEtKqkzqWlM3bA52pBNCEK8NwYNcg/edit?usp=sharing">Company Bylaws</a></td>
          </tr>

          <tr>
            <th scope="row">04</th>
            <td>Memorandum</td>
            <td>02/10/20</td>
            <td>08/11/20</td>
            <td><a href="https://docs.google.com/document/d/1TPU7tjzb4UjHl2HYl7FO9IQ1lLUvD-Y_PGufkX1BYLM/edit?usp=sharing">Memorandum</a></td>
          </tr>
        </tbody>
      </table>
     
    
    </div>
    
  </div>
</div>
{% endblock %}