{% extends "base.html" %}
{% block title %}<title>Events</title>{% endblock %}
{% set active_page = "events" %}

{% block content %}
  <!-- container for tablular structure: 1 row -->
<div class="container">
  <div class="row">
  
  <!-- column 1 -->
    <div class="col-sm-12">
      <h3>Events 2022</h3>
      <hr>

      <p>-Opening Night Celebration--April 1st</p>
      <p>-Company Retreat to New York City--May 18th</p>
      <p>-Information Session/Job Fair--September 17th</p>
      <p>-Yearly Inventory Night--December 14th</p>
    </div>
    
  </div>
</div>
{% endblock %}