{% extends "base.html" %}
{% set active_page = "home" %}

{% block title %}<title>Home</title>{% endblock %}
{% block content %}
<!-- container for tablular structure: 1 row -->
<div class="container">
    <div class="row">

      <!-- column 1 -->
      <div class="col-sm-6">
        <h3>Welcome</h3>
        <hr>

        <p>Welcome to Joe's Landscaping Inc. We began as a very small family owned business 25 years ago and have since grown into one of the biggest landscaping companies in Southern New Hampshire.
          Our mission is to provide great service to the great people of this region. We have many dedicated workers who are passionate about what they do and take their jobs very seriously.
          If you want high quality landscaping services done by high quality people, then Joe's Landscaping Inc. is the place for you to call!
        </p>
        <hr>
        <h3>Services Locations</h3>
        <p>-Salem, NH</p>
        <p>-Windham, NH</p>
        <p>-Hampstead, NH</p>
        <p>-Portsmouth, NH</p>
        <p>-Durham, NH</p>
        <p>-Epping, NH</p>
        <hr>
        <div class = "col-md-12 text-center">
        <img src="{{url_for('static',filename='yard.jpg')}}" alt=""
        width="400"
        height="250">
        </div>
      </div>
      <div class="col-sm-6">

        <!-- column 2 -->

        <h3>News</h3>
        <hr>
        <p>Opening Day is approaching! Spring is finally near and that means landscaping will come into full effect within the next few weeks.
          You should see teams arriving at your home every two weeks starting April 1st! If you want to make any changes to your landscaping plan, contact us ahead of time.
          We will be able to update your package within 2 weeks of the request, in order to make the landscaping of your home meet your needs. We are excited to get started, and anticipate a great Spring and Summer again!
        </p>
        <hr>
        <h3>Services Provided</h3>
        <p>-Lawn Mowing</p>
        <p>-Clean out Gardens/Planting Flowers</p>
        <p>-Powerwashing</p>
        <p>-Weeding and Mulching</p>
        <p>-Bush/Tree trimming</p>
        <p>-Tree Removal</p>
        <hr>
        <div class = "col-md-12 text-center">
          <img src="{{url_for('static',filename='cleanyard.jpg')}}" alt=""
          width="400"
          height="250">
          </div>
      </div>
    </div>
  </div>
{% endblock %}